<!DOCTYPE html>
<html>
<head>
  <%- include('../components/head') %>
</head>
<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <div class="container">
    <%- include('../components/header') %>
    <%- include('../components/navigation') %>
    <%- include('../components/news-section') %>
    <%- body %>
    <%- include('../components/footer') %>
  </div>
  <%- include('../components/scripts') %>
</body>
</html>